asteval==0.9.19
beautifulsoup4==4.9.0
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imagecodecs==2020.2.18
imageio==2.8.0
kiwisolver==1.1.0
llvmlite==0.32.1
lmfit==1.0.1
lxml==4.5.0
matplotlib==3.2.0
mpmath==1.1.0
natsort==7.0.1
networkx==2.4
numba==0.49.1
numpy==1.18.1
ovito==3.1.2
pandas==1.0.1
Pillow==7.1.2
progressbar==2.5
pybind11==2.4.3
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
PySide2==5.14.1
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.4.1
shiboken2==5.14.1
six==1.14.0
soupsieve==2.0.1
sympy==1.6.2
tifffile==2020.5.11
uncertainties==3.1.4
